header {
  display: grid;

  grid-template-columns: var(--header-x-spacing) 1fr var(--header-x-spacing);
  align-items: center;
  align-content: center;

  height: 60px;
  line-height: 60px;
  padding: 0 var(--container-gutter);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: var(--color-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;

  white-space: nowrap;

  font-size: var(--fs-lg);
  font-weight: bold;
  color: var(--color-accent);
}

.header__nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav__item {
  display: flex;
  align-items: center;
  position: relative;

  padding: 0 1rem;
  height: 100%;
  line-height: normal;
  box-sizing: border-box;

  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 0.2s ease;
  border-radius: 4px;
}

.nav__item:hover {
  color: var(--color-accent);
}

.nav__item--active {
  color: var(--color-accent);
  font-weight: bold;
}

.nav__item--active::after {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-color: var(--color-accent-light);
  z-index: -1;
  border-radius: inherit;
}
