@import "reset.css";
@import "header.css";
@import "variables.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

main {
  padding-top: 60px;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.layout__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-gutter);
  font-size: var(--fs-md);
  background-color: azure;
  display: flex;
}

@media (max-width: 768px) {
  .layout__container {
    width: 100%;
    margin: 0 auto;
    font-size: var(--fs-sm);
    display: flex;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .layout__container {
    width: 100%;
    margin: 0 auto;
    font-size: var(--fs-xs);
    display: flex;
  }
}
