@import "normalize.css";
@import "index.css";
@import "variables.css";

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-columns: 240px 300px 1fr; /* aside + content */
  height: 100vh;
  width: 100vw;
}

@media (max-width: 768px) {
  #root {
    grid-template-columns: 60px 1fr;
  }
}

main {
  height: 100%;
}

.layout__container {
  width: 100%;
  height: 100%;
  font-size: var(--fs-md);
  background-color: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Mobile Small*/
@media (max-width: 479px) {
  #root {
    font-size: var(--fs-sm);
  }
  .layout__container {
    width: 100%;
    font-size: var(--fs-sm);
  }
}

/* Mobile Medium*/
@media all and (min-width: 480px) and (max-width: 767px) {
  #root {
    font-size: var(--fs-sm);
  }

  .layout__container {
    width: 100%;
    font-size: var(--fs-sm);
  }
}

/* Mobile Large*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  #root {
    font-size: var(--fs-md);
  }

  .layout__container {
    width: 100%;
    font-size: var(--fs-md);
  }
}

/* Laptop & Tablet*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
  #root {
    font-size: var(--fs-md);
  }

  .layout__container {
    width: 100%;
    font-size: var(--fs-md);
  }
}
