@import "normalize.css";
@import "header.css";
@import "variables.css";
@import "load.css";
@import "scanner.css";

html,
body,
#root {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  background: linear-gradient(180deg, #a2ded0, #b3c7c2);
  padding-bottom: 1rem;
}

main {
  padding-top: 60px;
  min-height: calc(100vh - 60px);
}

.layout__container {
  max-width: var(--container-max-width);
  padding: var(--container-gutter);
  font-size: var(--fs-md);
  background-color: inherit;
  min-height: inherit;
}

/* Mobile Small*/
@media (max-width: 479px) {
  #root {
    font-size: var(--fs-sm);
  }
  .layout__container {
    width: 100%;
    font-size: var(--fs-sm);
  }
}

/* Mobile Medium*/
@media all and (min-width: 480px) and (max-width: 767px) {
  #root {
    font-size: var(--fs-sm);
  }

  .layout__container {
    width: 100%;
    font-size: var(--fs-sm);
  }
}

/* Mobile Large*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  #root {
    font-size: var(--fs-md);
  }

  .layout__container {
    width: 100%;
    font-size: var(--fs-md);
  }
}

/* Laptop & Tablet*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
  #root {
    font-size: var(--fs-md);
  }

  .layout__container {
    width: 100%;
    font-size: var(--fs-md);
  }
}
