:root {
  /*Responsive breakpoint*/
  --bp-lg: 1200px;
  --bp-md: 992px;
  --bp-sm: 768px;
  --bp-xs: 576px;

  /*Responsive Typhography*/
  --fs-xl: 2rem;
  --fs-lg: 1.5rem;
  --fs-sm: 1rem;
  --fs-md: 1.125rem;
  --fs-xs: 0.875rem;

  /*Container & Header var*/
  --container-max-width: 1200px;
  --container-gutter: 2rem;
  --container-x-margin: calc((100vw - var(--container-max-width)) / 2);
  --header-x-spacing: calc(
    (var(--container-x-margin)) - var(--container-gutter)
  );

  /* Background */
  --color-bg: #ffffff;
  --color-surface: #f8f8f8;
  --color-border: #e1e1e1;

  /* Text */
  --color-text-primary: #010101;
  --color-text-secondary: #666666;

  /* Accent */
  --color-accent: #0070f3;
  --color-accent-light: #e5f1ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-surface: #1e1e1e;
    --color-border: #2c2c2c;

    --color-text-primary: #e0e0e0;
    --color-text-secondary: #a3a3a3;

    --color-accent: #3291ff;
    --color-accent-light: #003a8c;
  }
}
