.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
.chart-box {
  width: 45%;
  min-width: 300px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}
#progressBarContainer {
  width: 100%;
  background-color: #ddd;
  height: 30px;
  margin-top: 20px;
}
#progressBar {
  height: 30px;
  width: 0%;
  background-color: #4caf50;
  text-align: center;
  color: white;
  line-height: 30px;
}
